{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for score in scores %}
            <li>
                {{ score.name }} - {{ score.score }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
